<header class="top-header d-flex justify-content-center align-items-center">
    <div class="d-flex align-items-center">
        <img src="/assets/Images/Top-Header.png" alt="Logo" height="100%" width="100%">
    </div>
</header>

<div class="container">

    <div class="row align-items-start section">
        <div class="col-md-4 text-center sticky-col">
            <img src="/assets/Images/Man-Image.png" alt="Dr. Kumaraswamy" class="profile-img img-fluid">
        </div>

        <div class="col-md-8 scrollable-col">
            <h3>Dr. Kumaraswamy S</h3>
            <p style="font-weight: 300 !important;">Professor & Head, Department of Computer Science Engineering</p>
            <img src="/assets/Images/Linked In.png" alt="LinkedIn" class="img-fluid mb-4">
            <div style="border-bottom: 1px solid #ddd;margin-bottom: 50px;"></div>
            <div class="section">
                <h3>Professional Experience</h3>
                <p>Dr. Kumaraswamy S. is the Head of the Department of Computer Science and Engineering at Global
                    Academy of Technology. He brings extensive expertise in cloud computing, specializing in
                    distributed cloud centers and optimization algorithms for virtual machine placement. His career
                    is marked by significant contributions to wireless sensor networks, cybersecurity, and deep
                    learning. Under his leadership, the department has fostered innovation and student
                    collaboration, particularly in cloud computing, machine learning, and artificial intelligence.
                </p>
            </div>
            <div style="border-bottom: 1px solid #ddd;margin-bottom: 50px;"></div>

            <div class="section">
                <h3>Academic Qualifications</h3>
                <ul>
                    <li>Ph.D. in Cloud Computing, Visvesvaraya Technological University (VTU), Belagavi, 2020</li>
                    <li>Research Focus: Optimization Techniques in Virtual Machine Placement in Cloud Data Centers.
                    </li>
                    <li>M.Tech in Computer Science and Technology – University of Mysore, Mysuru</li>
                    <li>B.E. in Electrical and Electronics Engineering – Bangalore University, Bengaluru</li>
                </ul>
            </div>
            <div style="border-bottom: 1px solid #ddd;margin-bottom: 50px;"></div>
            <div class="section">
                <h3>Research Publications</h3>
                <ol>
                    <li>Q3: Bin packing algorithms for virtual machine placement in cloud computing: a review,
                        International Journal of Electrical & Computer Engineering (2019)
                    </li>
                    <li>Q4: Virtual machine placement in distributed cloud centers using bin packing algorithm,
                        International Journal of Grid and Utility Computing (2018)
                    </li>
                    <li>Decision Key‐Value Feature Construction for Multihoming Big Data Network, Wireless
                        Communications and Mobile Computing (2023)
                    </li>
                    <li>Q2: Meta-heuristic Techniques for Placement of Virtual Machines in Distributed Cloud
                        Centers, International Journal of Intelligent Engineering & Systems (2019)
                    </li>
                </ol>
            </div>
            <div style="border-bottom: 1px solid #ddd;margin-bottom: 50px;"></div>
            <div class="section">
                <h3>Conference Papers</h3>
                <ul>
                    <li>Priority Queueing Model-Based IoT Middleware for Load Balancing, 2022 International Conference
                        on Intelligent Computing and Control Systems (ICICCS)
                    </li>
                    <li>Intelligent VMs prediction in cloud computing environment, 2017 International Conference on
                        Smart Technologies for Smart Nation (SmartTechCon)</li>
                </ul>
            </div>
        </div>
    </div>


</div>

<footer class="mt-auto">
    <img src="/assets/Images/Footer-Image.png" alt="Footer Logo" class="mb-3" width="100%" height="auto">
</footer>